/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif; /* Default font */
  background-color: #f5f5f5; /* Light grey background for the app */
  color: #000000; /* Black text color for contrast */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar Styles */
nav {
  background-color: #d3d3d3; /* Darker grey background for the navbar */
  padding: 10px 20px;
  color: #ffffff; /* White text color for contrast */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff; /* White text for navbar links */
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #ff0000; /* Red background for active link */
  color: #ffffff; /* White text color for active link */
  border-radius: 5px;
}

/* Page Content Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #111e3e; /* Blue headers for better readability */
}

p {
  line-height: 1.6;
  color: #333333; /* Dark grey text for paragraphs */
}

button {
  background-color: #ff0000; /* Red background for buttons */
  color: #ffffff; /* White text for buttons */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #bb1f2f; /* Darker red on hover */
}

/* Form Styles */
form {
  margin: 20px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #888888; /* Grey border for input fields */
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #ff0000; /* Red border on focus */
  outline: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  nav ul li a {
    font-size: 16px;
  }
}
